header{
    height: 20vh;
    width: 100vw;
    position: relative;
    background-color: #2ca880;
}

.logo{
    width:20%;
    height: 40vh;
}

img{
       width: 100%;
       height: 49%;
       margin: 1%;
}

a{
    margin: auto;
}

.pestañas{
    width: 100%;
    height: 20vh;
}

main{
    width: 100vw;
    height: 95vh;
    background-color: #f2ffff;
}




.photo{
    padding-top: 4%;
    height: 50vh;
    border-radius: 50%;
}

h4{
    padding-top: 5%;
    margin: 15%;
}

p{
    font-size: 25px;
    padding-top: 5%;
    margin: 15%;
}

footer{
    background-color: #2ca880;
    width: 100vw;
    height: 70vh;
}

.footer_sec1{
    margin-left: 10p

}

.footer{

}
