header{
    height: 20vh;
    width: 100vw;
    position: relative;
    background-color: #ff6b35;

}

.logo{
    width:20%;
    height: 40vh;
}

img{
       width: 100%;
       height: 49%;
       margin: 1%;
}

a{
    margin: auto;
}

.pestañas{
    width: 100%;
    height: 20vh;
}

main{
    width: 100vw;
    height: 95vh;
    background-color: #f2ffff;
}

.parrafo1{
 margin-bottom: 80px;
}

.h4-1{
  margin-top: 80px;
}

.photo{
    height: 50%;
    width: 50%;
    border-radius: 50%;
    border: black 4px solid;
}
.zoom{
transition: width 2s, height 2s, transform 2s;
 webkit-transition: width 2s, height 2s, -webkit-transform 2s;
 }

.zoom:hover{
 transform : scale(1.2);
 webkit-transform : scale(1.2);
 }


h4{
    padding-top: 5%;
    margin: 15%;
}

p{
    font-size: 25px;
    padding-top: 5%;
    margin: 15%;
}

footer{
    background-color: #ff6b35;
    width: 100vw;
    height: 70vh;
    margin: auto;
}
